<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Sessions</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/sessions">Sessions</a></li>
                </ul>
            </nav>
        </div>
        <div class="row"><h1>Sessions</h1></div>

        <div class="row">
            <div class="col"><h4>Total: £{{totals.overall}}</h4></div>
            <div class="col"><h4>Total for current tax year ({{taxYear}}): £{{totals.currentTaxYear}}</h4></div>
        </div>

        <div class="row">
            <input type="text" id="taxYear">
            <button class="btn btn-primary" id="setTaxYear">Set tax year</button>
        </div>

        <div class="row"></div>
         <div class="row">
            <button class="btn btn-primary" id="deleteSessions">Delete sessions</button>
        </div>
        <div class="row"><p></p></div>

        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount (£)</th>
                        <th scope="col">Paid?</th>
                        <th scope="col">Tax year ending</th>
                        <th scope="col">Set tax year</th>
                        <th scope="col">Delete?</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each sessions}}
                        <tr>
                            <td>{{this.date}}</td>
                            <td>{{this.student.name}}</td>
                            <td>{{this.amount}}</td>
                            <td>
                                {{#if this.paid}}
                                    <input type="checkbox" name="{{this.id}}-paid" checked class="paid">
                                {{else}}
                                    <input type="checkbox" name="{{this.id}}-paid" class="paid">
                                {{/if}}
                            </td>
                            <td>{{this.taxYear}}</td>
                            <td><input type="checkbox" name="{{this.id}}-tax"></td>
                            <td><input type="checkbox" name="{{this.id}}-delete"></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $("#setTaxYear").on("click", function (event) {
            var ids =
                $("input:checked").get()
                    .filter(box => box.name.endsWith("tax"))
                    .map(box => box.name.split("-")[0]);

            if (ids.length === 0) return;

            var taxYear = $("#taxYear").get().map(input => input.value)[0];
            var message = {year: taxYear, sessionIds: ids};

            $.post("/set-tax-year", JSON.stringify(message), function (data) { location.reload(); });
        });

        $(".paid").on("change", function (event) {
            var sessionId = event.target.name.split("-")[0];
            var paid = event.target.checked;

            $.post("/set-paid", JSON.stringify({sessionId: sessionId, paid: paid}));

        });

        $("#deleteSessions").on("click", function (event) {
            var ids =
                $("input:checked")
                    .get()
                    .filter(box => box.name.endsWith("delete"))
                    .map(box => box.name.split("-")[0]);

            if (ids.length === 0) return;

            $.post("/delete-sessions", JSON.stringify({sessionIds: ids}));
        });
    </script>
</body>
</html>
