<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Students</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="/students">Students</a></li>
                    <li class="nav-item"><a class="nav-link" href="/sessions">Sessions</a></li>
                </ul>
            </nav>
        </div>
        <div class="row"><h1>Students</h1></div>

        <div class="row"><a href="#studentModal" data-toggle="modal" data-target="#studentModal">Add student</a></div>
        <br/>
        <div class="row">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each students}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td><a href="#sessionModal" data-toggle="modal" data-target="#sessionModal"
                                   data-name="{{this.name}}" data-id="{{this.id}}">Add session</a>
                                <button data-id="{{this.id}}" class="btn btn-danger delete-student">Delete student</button>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="sessionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sessionModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/sessions" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" id="date" name="date">
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount (£)</label>
                            <input type="number" class="form-control" id="amount" name="amount">
                        </div>
                        <input type="hidden" id="studentId" name="studentId">
                        <input type="hidden" id="studentName" name="studentName">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="saveSession">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="studentModalLabel">Add student</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <form action="/students" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="newStudentName" name="studentName">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="saveStudent">Save</button>
                        </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $("#sessionModal").on("show.bs.modal", function (event) {
            var source = $(event.relatedTarget);
            var name = source.data("name");
            var studentId = source.data("id");

            $(this).find(".modal-title").text("Add session for " + name);
            $(this).find("#studentId").attr("value", studentId);
            $(this).find("#studentName").attr("value", studentName);
        });

        $("#outstandingSessionModal").on("show.bs.modal", function (event) {
            var source = $(event.relatedTarget);
            var name = source.data("name");

            $(this).find(".modal-title").text("Outstanding sessions for " + name);
        });

        $(".delete-student").on("click", function (event) {
            $.ajax({
                method: "DELETE",
                url: "/students/" + event.target.getAttribute("data-id")
            });
        });
    </script>
</body>
</html>
